.nameInitial {
  font-size: x-large;
  border: 1px solid #eee;
  padding: 5px 10px;
  color: whitesmoke;
  background-color: rgb(92, 85, 85);
  /* margin: 5px 5px; */
  border-radius: 10px;
  cursor: pointer;
  font-weight: 800;
  text-align: center;
  align-items: center;
}
