.nameInitial {
  font-size: x-large;
  border: 1px solid #eee;
  padding: 5px 10px;
  color: rgb(180, 82, 17);
  background-color: rgb(235, 229, 225);
  /* margin: 5px 5px; */
  border-radius: 10px;
  cursor: pointer;
  font-weight: 800;
  text-align: center;
  align-items: center;
}
